.App {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.Botcard {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  width: 20%;
  height: 15%;
  text-align: center;
  border-radius: 9px;
  background-color: #fff;
  font-size: 14px;
}

.Botcard img {
  height: 100%;
  width: 100%;
  background-color: darkgray;
  border-radius: 9px;
}

.Catchphrase {
  width: 100%;
}

.icons-section {
  display: inline-flex;
  gap: 25px;
  text-align: center;
  align-items: center;
  margin: 16px 0px;
}

.FavBots {
  background-color: #a9c315;
  padding: 30px;
}

.health-checkin {
  display: flex;
  flex-direction: row;
}

.damage-checkin {
  display: flex;
  flex-direction: row;
}
.armor-checkin {
  display: flex;
  flex-direction: row;
}
.health,
.armor,
.damage {
  margin: 0px;
}

.closeIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
}
